<% if user_signed_in? %>
  <%= form_with model: @post, local: true do |f| %>
    <table class="attr">
      <tr>
        <th><%= f.label :image, "画像" %></th>
        <td><%= f.file_field :image %></td>
      </tr>
      <tr>
        <th><%= f.label :name, "タイトル(任意)" %></th>
        <td><%= f.text_field :name, class: 'form-control'  %></td>
      </tr>
      <tr>
        <th><%= f.label :price, "値段(任意)" %></th>
        <td><%= f.text_field :price, class: 'form-control' %></td>
      </tr>
      <tr>
        <th><%= f.submit '投稿', class: 'btn btn-info btn-block' %></th>
      </tr>
    </table>
  <% end %>
<% else %>
<% end %>