<% @page_title = "レシート" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "編集", edit_post_url %></div>

<table>
  <thead>
  <tr>
    <th>レシート</th>
    <th>購入日</th>
    <th>値段</th>
  </tr>
  </thead>
  <thead>
  <% @posts.each do |post| %>
    <tr>
      <th><%= link_to post.image.to_s, "data-lightbox" => post.image.to_s do %>
          <%= image_tag post.image.to_s, height: '80', :style=>"width:300;" %>
        <% end %></th>
      <th><%= l post.buyday %></th>
      <th><%= post.price %></th>
    </tr>
  <% end %>
  </thead>
</table>